.fun{
    background-color:rgb(77, 197, 171); 
    font-size:100px;
}
.notFun{
    background: #00ff00;
    color: #ff0000;
}
#special{
    background-color:rgb(155, 50, 187); 
    border: #e0cc15 solid;
    color:aqua;
    font-size:20px;

}